@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-accent: #ffd4bd;
  --color-background: #111110;
  --color-secondary: #dbdbdb;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-code: #030202;
  --color-textcode: #aaaaca;
}

.light {
  --color-accent: #ff8f4d;
  --color-background: #eeeeef;
  --color-secondary: #111110;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-code: #eae7ee;
  --color-textcode: #aa3f50;
}

@layer utilities {
  .feature-list {
    list-style-type: none;
  }
  .feature-list > li:before {
    content: "- ";
  }
}